@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');
@import './styles/mixin.scss';
@import './styles/ibg.scss';
@import './styles/header.scss';
@import './styles/about.scss';
@import './styles/portfolio.scss';
@import './styles/partners.scss';
@import './styles/contact.scss';
@import './styles/footer.scss';

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1103px;
    padding: 0 15px;
    margin: 0 auto;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.content {
}

.main-screen {
    flex: 1 0 100%;
    position: relative;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}